# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node / Package managers
node_modules/
.pnpm-store/
.npm/
.yarn/*
!.yarn/versions
!.yarn/plugins
!.yarn/releases

# Build outputs
dist/
build/
public/
.tmp/
.temp/

# Tool caches
.cache/
.parcel-cache/
.vite/
.eslintcache
.stylelintcache
.tsbuildinfo

# Netlify
.netlify/
# keep your config tracked:
!netlify.toml

# CSS preprocessors
.sass-cache/
*.css.map

# Testing / Coverage
coverage/
.nyc_output/

# Editors/IDEs
.vscode/
.idea/
*.swp
*.swo
